.header-banner {
    background-image: linear-gradient(
            125deg,
            rgba(250, 250, 250, 0) 60%,
            rgba(250, 250, 250, 0.75) 60%
        ),
        url("../../../Images/hero-image.png");
    height: 190px;
    background-size: cover;
    position: relative;
    border-radius: 14px;

    .content {
        position: absolute;
        font-size: 48px;
        color: #000;
        font-weight: 900;
        width: 90px;
        top: 18%;
        right: 25%;
    }
}

@media only screen and (max-width: 1024px) {
    .header-banner {
        .content {
            font-size: 36px;
            top: 25%;
            right: 20%;
        }
    }
}

@media only screen and (max-width: 820px) {
    .header-banner {
        height: 132px;
        .content {
            font-size: 29px;
            top: 25%;
            right: 20%;
        }
    }
}

@media only screen and (max-width: 425px) {
    .header-banner {
        height: 90px;
        .content {
            font-size: 16px;
            top: 30%;
            right: 5%;
        }
    }
}
