.content-heading-actions-wrapper {
    border: 1px solid #d3d7d7;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 5px 5px;

    .ant-divider {
        height: 18px;
        top: 0;
    }

    .heading-action-image {
    }
}
