.navbar-wrapper {
    padding: 20px 0;
    border-bottom: 1px solid #e9ebeb;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu-icon {
        display: none;
    }
}

@media only screen and (max-width: 425px) {
    .navbar-wrapper {
        .menu-icon {
            display: inline-block;
        }
    }
}
