.progress-wrapper {
    .ant-progress-steps-item {
        width: 10px !important;
        height: 8px !important;
    }
    .ant-progress-steps-item:first-child {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    .ant-progress-steps-item:last-child {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .progress-bar-info-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .title {
            font-size: 16px;
            color: #7b8786;
        }
        .percentage {
            font-size: 18px;
            color: #00b686;
            font-weight: 800;
        }
    }
}

@media only screen and (max-width: 820px) {
    .progress-wrapper {
        .ant-progress-steps-item {
            width: 7px !important;
            height: 6px !important;
        }
        .progress-bar-info-wrapper {
            .title {
                font-size: 14px;
            }
            .percentage {
                font-size: 14px;
            }
        }
    }
}

@media only screen and (max-width: 425px) {
    .progress-wrapper {
        .ant-progress-steps-item {
            width: 5px !important;
            height: 5px !important;
        }

        .progress-bar-info-wrapper {
            margin-bottom: -6px;
            .title {
                font-size: 10px;
            }
            .percentage {
                font-size: 10px;
            }
        }
    }
}
