.button {
    background: #00b686;
    height: 40px;
    min-width: 146px;
    font-size: 16px;
    font-weight: 700;

    &:hover {
        background: #00b686 !important;
    }
}

@media only screen and (max-width: 425px) {
    .button {
        font-size: 14px;
        height: 32px;
        min-width: 114px;
    }
}
