.tabs-wrapper {
    .ant-tabs-nav-list {
        width: 100%;

        .ant-tabs-tab {
            margin-right: 7px;
            border-color: #bdc3c2;
            background-color: transparent;
            .ant-tabs-tab-btn {
                color: #657372;
                font-size: 16px;
                font-weight: 700;
            }
        }

        .ant-tabs-tab:not(:has(~ .ant-tabs-tab)) {
            position: absolute;
            right: 0;
        }

        .ant-tabs-tab-active {
            background-color: #fff;
            border-bottom-color: #bdc3c2 !important;
            .ant-tabs-tab-btn {
                color: #00b686;
            }
        }
    }
}

@media only screen and (max-width: 820px) {
    .tabs-wrapper {
        .ant-tabs-nav-list {
            .ant-tabs-tab {
                margin-right: 4px;
            }

            .ant-tabs-tab:not(:has(~ .ant-tabs-tab)) {
                position: relative;
            }
        }
    }
}

@media only screen and (max-width: 425px) {
    .tabs-wrapper {
        .ant-tabs-nav-list {
            .ant-tabs-tab {
                padding: 5px 8px;
                margin-right: 5px;
                .ant-tabs-tab-btn {
                    font-size: 14px;
                }
            }

            .ant-tabs-tab:not(:has(~ .ant-tabs-tab)) {
                display: none;
            }
        }
    }
}
