.tabs-wrapper {
    .ant-tabs-nav-list {
        width: 100%;

        .ant-tabs-tab {
            margin-right: 7px;
            border-color: #bdc3c2;
            background-color: transparent;
            .ant-tabs-tab-btn {
                color: #657372;
                font-size: 16px;
                font-weight: 700;
            }
        }

        .ant-tabs-tab:not(:has(~ .ant-tabs-tab)) {
            position: absolute;
            right: 0;
        }

        .ant-tabs-tab-active {
            background-color: #fff;
            border-bottom-color: #bdc3c2 !important;
            .ant-tabs-tab-btn {
                color: #00b686;
            }
        }
    }
}
