.main-section-wrapper {
    padding: 35px 0;
    .heading-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;

        .heading {
            font-size: 25px;
            font-weight: 700;
            color: #233735;
        }
    }
}
